
    <!--Footer-->
    <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn  ">

        <!--Call to action-->
        <div class="pt-4">
            <a class="btn btn-outline-white" href="https://fortnite-api.com/" target="_blank" role="button">API
                <mdb-icon fas icon="cog" class="ml-2"></mdb-icon>
            </a>
            <a class="btn btn-outline-white" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank" role="button">Start free tutorial
                <mdb-icon fas icon="graduation-cap" class="ml-2"></mdb-icon>
            </a>
        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2021 MIT License:
            <a href="https://github.com/emiliohernandezdev" target="_blank"> emiliohernandezdev </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->