<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/fortnite_black.png" class="image" alt="">
        </a>

        <div class="list-group list-group-flush">

            <a routerLink="home" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="home" class="mr-3"></mdb-icon>Inicio
            </a>
            <a routerLink="daily-itemshop" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="shopping-cart" class="mr-3"></mdb-icon>Tienda de objetos
            </a>
            <a routerLink="cosmetics" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="tshirt" class="mr-3"></mdb-icon>Cosméticos
            </a>
            <a routerLink="map" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="map" class="mr-3"></mdb-icon>Mapa</a>

        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
        <logo class="ml-3" class="d-sm-block d-md-none">
            <a class="navbar-brand" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/">
                <strong class="blue-text">Fortnite</strong>
            </a>
        </logo>

        <!-- Collapsible content -->
        <links class="d-sm-block d-md-none">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="home" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                        <mdb-icon fas icon="home" class="mr-3"></mdb-icon>Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="daily-itemshop" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                        <mdb-icon fas icon="shopping-cart" class="mr-3"></mdb-icon>Tienda de objetos
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="cosmetics" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                        <mdb-icon fas icon="tshirt" class="mr-3"></mdb-icon>Cosméticos
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="map" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                        <mdb-icon fas icon="map" class="mr-3"></mdb-icon>Mapa</a>
                </li>
            </ul>
            <!-- Links -->

            <!-- Search form -->
            <ul class="navbar-nav nav-flex-icons">


                </ul>
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->